* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    background-color: lightgray;
}

header {
    height: auto;
    background-color: white;
}

h1 {
    font-size: 40px;
}

.d_flex {
    display: flex;
}
.justify_center {
    justify-content: center;
}
.align_center {
    align-items: center;
}
.f_col {
    flex-direction: column;
}
.f_around {
    justify-content: space-around;
}
.f_between {
    justify-content: space-between;
}

i {
    font-size: 35px;
    margin: 5px 5px;
}



/* ##### HEADER ##### */
.logo {
    padding: 15px;
}


/* ##### MAIN ##### */
.top_bar {
    background-color: deepskyblue;
    height: 80px;
}

.top_bar > * {
    margin: 5px 10px;
}

.icons_list {
    width: 80%;
    margin: auto;
    padding: 25px;
}

.icons_list > div {
    width: 230px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #000000b3;
}